
<img src="https://miro.medium.com/max/1200/1*YN5uqQ79Cr6ArJokrhKvPg.png"  alt="Girl in a jacket" width="700" height="300">

<h3 style="font-family:courier;",align="center">Ingest Large Scale Data in Elasticsearch from Database Technologies</h3>

Here in this blog we are going to get hands on experience by Ingesting large scale of data into Elasticsearch by extracting data using one of any most popoular database technologies.

#### Steps to Complete this Capstone Project:

1. Import Important Python Libraries 
2. Extract Data from Microsoft SQL Server Database
3. Apply Essential Transformations on Pandas Data-frames
4. Convert Data into Appropriate Format for Elasticsearch
5. Execute Ingestion for Bulk Container into Elasticsearch

In [37]:
import numpy as np
import pandas as pd
import sys
import os
import csv
import bson
import pprint
import json
import requests
from IPython.display import Image
from IPython.core.display import HTML

1. Pandas: pandas is a library of Python that provides high-level data structures and a big variety of functions for data analysis and transformation. Pandas features are Iteration, Sorting, Aggregations, Concatenations and re-indexing the data-frame entries.
2. Numpy: numpy is known as one of the most popular library of Python. Numpy internally performing multiple operations with many other libraries. Array interface is very best and the most important feature of Numpy
3. PPrint: pprint is a special library which is very helpful for developer when they work with large nested documents of json.
4. Json : json is use to work shape data in json formate correctly. 
5. Requests : requests python library can confirm about the server running apps status

### Setting up ElasticSearch with Python

May be you already have setup ElasticSearch and have a Python environment ready but if not have setup yet then let go to setup ElasticSearch Python environment.

Install the elasticsearch package with pip command:

!pip install elasticsearch

#### Features of Elasticsearch Python Library

1. Translating basic Python data types to and from json (datetimes are not decoded for performance reasons)
configurable automatic discovery of cluster nodes
2. Persistent connections
3. Load balancing (with pluggable selection strategy) across all available nodes
4. Failed connection penalization (time based - failed connections won’t be retried until a timeout is reached)
5. Support for ssl and http authentication
7. Pluggable architecture

##### Importing Elasticsearch and helper

In [86]:
from elasticsearch import Elasticsearch, helpers

### Database Technologies

<img src="https://datotainfo.com/img/Technology%20Images/database-technologies.png"  alt="Girl in a jacket" width="600" height="400">

we can get data from any database technology and can ingest it into Elasticsearch, so here we are goint to use MS Sql Serevr database technology to extrach data into pandas dataframe.

### Setting up MSSQL with Python

A simple database interface for Python that builds on top of FreeTDS to provide a Python DB-API (PEP-249) interface to Microsoft SQL Server.

##### Installing pymssql package with pip command:

!pip install pymssql

#### Features of pymssql  Python Library

1. Unicode Friendly
2. Python 3 Friendly
3. Works on most popular Operating Systems
4. Written in Cython for performance
5. Includes a supported and documented low-level module (_mssql) that you can use instead of the DB-API
6. Supports stored procedures with both return values and output parameters
7. A comprehensive test suite
8. Compatible with cooperative multi-tasking systems (gevent, etc.)
9. Can be used to connect to Azure

##### Importing pymssql

In [4]:
import pymssql as sql

### Establish a Connection with Elasticsearch

For data ingestion into elasticsearch and retrieving data from elasticsearch, we need to first establish a connection with elasticsearch server.

In [81]:
Elasticsearch_URL = "https://elastic:----------" # Enter you Elasticsearch Url

We can use Python’s request library to confirm the server is running Elasticsearch

res = requests.get(Elasticsearch_URL)
print(res.content)

es = Elasticsearch([Elasticsearch_URL])

### Extract Data from Microsoft SQL Server Database

#### Establish a Connection with SQL Server

SERVER = '--.--.---.--' 
USER = 'SQL_UserName'
PASSWORD = 'SQL_Password'
DATABASE = 'SQl_Database_Name'

def GetDatabaseConnection():
    return sql.connect(SERVER, USER, PASSWORD, DATABASE)

db_conn = GetDatabaseConnection()

#### Loading Data from MS Sql Server by Sql Queries

print('....Loading Households Information....')
Household_query = """
Select * from dbo.Household
"""
household_df = pd.read_sql(Household_query, db_conn)
print('Completed')

print('....Loading Persons Information....')
person_query = """
Select * from dbo.Person with (nolock)
"""
person_df = pd.read_sql(person_query, db_conn).fillna('')
print('Completed')

print('....Loading Phones Data....')
phone_query = """
Select * from PersonPhone with (nolock)
"""
phones_df = pd.read_sql(phone_query, db_conn).fillna('')
print('Completed')

household_df.to_pickle('HouseholdData.pkl')
person_df.to_pickle('PersonData.pkl')
phones_df.to_pickle('PhonesData.pkl')

We are saving the sql extracted data into pkl files for you because we in this notebook we have remove database credentials
for securit pourpose but you can get same results after reading pkl files.

#####  Read Data from Pkl Files

In [8]:
household_df =  pd.read_pickle('HouseholdData.pkl')
person_df =  pd.read_pickle('PersonData.pkl')
phones_df =  pd.read_pickle('PhonesData.pkl')

### Apply Essential Transformations on Dataframes

##### Dataframes Overview

In [12]:
household_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302070 entries, 0 to 3302069
Data columns (total 5 columns):
 #   Column                Dtype
---  ------                -----
 0   AccountId             int64
 1   HouseholdDateCreated  datetime64[ns]
 2   AgeRange              object
 3   IncomeRange           object
 4   MaritalStatus         object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 126.0+ MB

In [9]:
household_df.head()

   AccountId    HouseholdDateCreated AgeRange IncomeRange MaritalStatus
0   10000000 2013-09-09 17:34:35.930    25-35     $1K-$5K      Divorced
1   10000715 2013-03-09 09:25:53.000    25-35   $25K-$30K       Married
2   10000716 2013-03-11 15:12:11.000    45-55   $10K-$15K      Divorced
3   10000717 2013-03-11 15:09:31.000    45-55    $5K-$10K       Married
4   10000718 2013-03-11 15:21:44.000    25-35   $10K-$15K     Separated

In [13]:
person_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3628189 entries, 0 to 3628188
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   AccountId             int64
 1   PersonId              int64
 2   PersonAccountCreated  datetime64[ns]
 3   Active                object
 4   FirstName             object
 5   LastName              object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 166.1+ MB

In [10]:
person_df.head()

   AccountId  PersonId    PersonAccountCreated Active FirstName    LastName
0   10000716  10000716 2013-09-03 15:21:23.943   True   Felecia        Hane
1   10000717  10000717 2013-10-02 12:39:58.913   True      Lena      Miller
2   10000718  10000718 2013-09-03 15:21:24.117   True     Lular       Stehr
3   10000719  10000719 2013-09-03 15:21:24.207   True      Lona     Goyette
4   10000719  13604747 2019-09-08 16:00:50.320   True      Joey  Morissette

In [14]:
phones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2351683 entries, 0 to 2351682
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   AccountId    int64
 1   PersonId     int64
 2   PhoneType    object
 3   PhoneId      int64
 4   PhoneNumber  object
dtypes: int64(3), object(2)
memory usage: 89.7+ MB

In [11]:
phones_df.head()

   AccountId  PersonId PhoneType   PhoneId       PhoneNumber
0   10000716  10000716      Home  10001157  +40(5)2649020619
1   10000717  10000717    Mobile  10001158      768-088-2458
2   10000717  10000717      Home  10001158      114.595.2874
3   10000718  10000718      Home  10001159       07945401239
4   10000718  10000718    Mobile  10001160    1-296-693-9103

##### checking for nan and null values in dataframe

In [85]:
household_df.isnull().sum()

AccountId               0
HouseholdDateCreated    8
AgeRange                0
IncomeRange             0
MaritalStatus           0
dtype: int64

In [84]:
person_df.isna().sum()

AccountId               0
PersonId                0
PersonAccountCreated    0
Active                  0
FirstName               0
LastName                0
dtype: int64

In [83]:
phones_df.isna().sum()

AccountId      0
PersonId       0
PhoneType      0
PhoneId        0
PhoneNumber    0
dtype: int64

Here we don't have nan or null in dataframes

### Convert Data into Appropriate Format for Elasticsearch

The way in which we can ingest data in elasticsearch is a json formate, so first we need to create a json payload from pandas dataframes. we have to create a json payload  by understanding the relationships of features of dataframe so, according to data overview a household could have multiple persons and persons could have multiple phones.

We have to create nested documented json payload like this as formated in below example:

Household : {'Age_Range': '35-45',
             'HouseHoldId': 10000723,
             'Income_Range': '$20K-$25K',
             'Marital_Status': 'Widowed',
             'Person_Details': [{'Active': True,
                                 'FirstName': 'Geraldine',
                                 'LastName': 'Muller',
                                 'PersonId': 10000723,
                                 'Phone_Details': [{'PhoneId': 10001169,
                                                    'PhoneNumber': '1-981-940-6060',
                                                    'PhoneType': 'Mobile'},
                                                   {'PhoneId': 10001168,
                                                    'PhoneNumber': '+26(1)5732992945',
                                                    'PhoneType': 'Mobile'},
                                                   {'PhoneId': 10001168,
                                                    'PhoneNumber': '09456595885',
                                                    'PhoneType': 'Home'}]}],
             '_id': 10000723,
             '_index': 'household_data_test',
             '_type': 'HouseholdInfoDoc'}

##### Need to follow these rules while creating a payload for elasticsearch

1. Document should have a unique id so we are assigning it household unique id like this
Payload["_id"] : Household Unique Id
2. All document should have same doc_type, we can assigne any name, so we are hardcoded it like this 
Payload["_type"] : "HouseholdInfoDoc".
2. You have to put the name of index in document which you will have already created in elasticsearch, so we are hardcoded it by the name of index in elasticsearch like this 
Payload["_index"] : "household_data_test"

In Elasticsearch open kibana go to Dev Tools Console and write a simply command "PUT Indexname" for creating new index

In [44]:
Image(url= "Annotation 2020-06-17 152824.png", width=1000, height=50)

Checking for whether index has been created successfully or not, open kibana go to Management and select Index Management option, write you index name and search it.

In [75]:
Image(url= "Annotation 2020-06-17 154334.png", width=1000, height=50)

Here you can see we have successfully created index in elasticsearch and right now Docs_count means documents count is 0 because we don't have ingest any document in it yet.

Now here we are going to create appropriate format for elasticsearch from pandas dataframe.

In [65]:
%%time

BulkDocsContainer=[]
i=0
for account_values in household_df.itertuples():
    i = i + 1
    Person_Container=[]
    Phone_Container=[]
    
    Household_Paylod={}
    Household_Paylod['_id'] = account_values.AccountId # Document id should be unique key of your data
    Household_Paylod["_type"] = "HouseholdInfoDoc" # Document type could be any name you want select
    Household_Paylod["_index"] = "household_data_test"   # Index name same as we have created by name in elasticsearch
    
    Household_Paylod["HouseHoldId"] = account_values.AccountId
    Household_Paylod["Age_Range"] = account_values.AgeRange
    Household_Paylod["Income_Range"] = account_values.IncomeRange
    Household_Paylod["Marital_Status"] = account_values.MaritalStatus
    
    per_df = person_df.loc[person_df.AccountId == account_values.AccountId]
    
    for person_values in per_df.itertuples():
        
        Person_Paylod={}
        Person_Paylod["PersonId"] = person_values.PersonId
        Person_Paylod["LastName"] = person_values.LastName
        Person_Paylod["FirstName"] = person_values.FirstName
        Person_Paylod["Active"] = person_values.Active
        
        pho_df = phones_df.loc[phones_df.PersonId == person_values.PersonId]
    
        for phone_values in pho_df.itertuples():
            Phone_Paylod={}
            Phone_Paylod["PhoneId"] = phone_values.PhoneId
            Phone_Paylod["PhoneNumber"] = phone_values.PhoneNumber
            Phone_Paylod["PhoneType"] = phone_values.PhoneType
            Phone_Container.append(Phone_Paylod)
            
        Person_Paylod["Phone_Details"] = Phone_Container
        
        Person_Container.append(Person_Paylod)
    
    
    
    Household_Paylod["Person_Details"] = Person_Container
    

    BulkDocsContainer.append(Household_Paylod)

    if i % 100000 == 0:
        print(i)
        break

100000
CPU times: user 20min 27s, sys: 2.83 s, total: 20min 30s
Wall time: 20min 30s

Here as you can see we have break the script at 100000 One_Hundered_Thousent iterations just because it is large scale data and will take time to building a documents bulk on 2 Million households so, now we are just sending One_Hundered_Thousent documents in elasticsearch for test.

### Execute Ingestion for Bulk Container into Elasticsearch

##### Sample of the Document in Bulk Container

In [63]:
pprint.pprint(BulkDocsContainer[9])

{'Age_Range': '35-45',
 'HouseHoldId': 10000723,
 'Income_Range': '$20K-$25K',
 'Marital_Status': 'Widowed',
 'Person_Details': [{'Active': True,
                     'FirstName': 'Geraldine',
                     'LastName': 'Muller',
                     'PersonId': 10000723,
                     'Phone_Details': [{'PhoneId': 10001169,
                                        'PhoneNumber': '1-981-940-6060',
                                        'PhoneType': 'Mobile'},
                                       {'PhoneId': 10001168,
                                        'PhoneNumber': '+26(1)5732992945',
                                        'PhoneType': 'Mobile'},
                                       {'PhoneId': 10001168,
                                        'PhoneNumber': '09456595885',
                                        'PhoneType': 'Home'}]}],
 '_id': 10000723,
 '_index': 'household_data_test',
 '_type': 'HouseholdInfoDoc'}

In [68]:
print("Size of Bulk = " +str(len(BulkDocsContainer)))

Size of Bulk = 100000

Now here we are going to hit the bulk to Ingesting data in elasticsearch

try:
    response = helpers.bulk(es, BulkDocsContainer)
    print ("\nActions RESPONSE:", response)
except Exception as e:
    print("\nERROR:", e)

You can check the Docs Count is 100000 after ingesting Data into elasticsearch in bulk structure.

In [77]:
Image(url= "Annotation 2020-06-17 165734.png", width=10000, height=50)

In [78]:
Image(url= "Annotation 2020-06-17 165640.png", width=10000, height=50)

In [79]:
Image(url= "Annotation 2020-06-17 165616.png", width=10000, height=50)

By using these strategies we can ingest our data in elasticsearch and build beautiful dashboards kibana and apply quick search in apps beckend.

In [80]:
Image(url= "Annotation 2020-06-17 1657399.jpg", width=10000, height=50)